body {
    font-family: 'Montserrat', sans-serif;
    background: #3B2359;
    color: #ffffff;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.section, .header_nav_menu ul {
    max-width: 375px;
    padding: 0 15px;
}

.none {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inline, .header_nav_menu a, .header_mob_burger span {
    display: inline-block;
}

.header_nav_menu a, .header_mob, .header_nav_menu, img, .canvas {
    width: 100%;
}

img, .canvas {
    height: 100%;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

h1, h3, p {
    margin: 0;
}

button {
    padding: 0;
}

.text_center {
    text-align: center;
}

.section, .header_nav_menu ul {
    margin: 0 auto;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

.symptoms h2 {
    font-size: 17px;
}

h1 {
    font-size: 16px;
}

.header_nav_menu a {
    font-size: 15px;
}

.experts p {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

.font_normal {
    font-weight: 400;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.opacity_0 {
    opacity: 0;
}

button {
    border: none;
}

a, a:hover {
    text-decoration: none;
}

a:focus, button:focus, .header_mob_burger span:focus, .header_nav_menu li {
    outline: none;
}

ul {
    list-style-type: none;
    -moz-padding-start: unset;
    -webkit-padding-start: unset;
    padding-inline-start: unset;
}

/* {
    display: -webkit-box;
    -web-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
} */

:root {
    /* --blue: #5A17FF; */
    --yellow: #F3C623;
}

.white, .header_nav_menu a {
    color: #ffffff;
}

button {
    cursor: pointer;
}

.header_nav_menu a {
    user-select: none;
}

/* header section */

.header_mob {
    top: 0;
    padding: 38px 0 41px;
    z-index: 9999;
}

.header_mob, .header_nav_menu {
    box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.24);
}

.header_nav_menu {
    left: -100%;
    right: 0;
    top: 0;
    padding-top: 113px;
    background: #3B2359;
    z-index: 999;
    transition: left .2s;
}

.header_nav_menu.active {
    left: 0%;
}

.header_nav_menu a {
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 30px;
}

.header_nav_menu li:not(:nth-of-type(1)) a {
    border-top: 2px solid #9576AD;
}

.header_mob_burger {
    height: 34px;
    margin-right: 32px;
}

.header_mob_burger, .header_mob_burger.active span {
    background-color: transparent;
}

.header_mob_burger span, .header_mob_burger span:after, .header_mob_burger span:before {
    width: 43px;
    height: 3px;
    border-radius: 2px;
    transform-origin: 50% 50%;
    transform: translateY(0);
    background-color: var(--yellow);
    transition: all .45s cubic-bezier(.45,.45,.37,1.36);
}

.header_mob_burger span:after, .header_mob_burger span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.header_mob_burger span:before {
    transform: translateY(-.75rem);
}

.header_mob_burger span:after {
    transform: translateY(.75rem);
}

.header_mob_burger.active span {
    transform: translate(1rem);
}

.header_mob_burger.active span:before {
    transform: translate(-1rem) rotate(135deg);
    height: 4px;
}

.header_mob_burger.active span:after {
    transform: translate(-1rem) rotate(-135deg);
    height: 4px;
}

.header_mob p {
    font-size: 22px;
    line-height: 0;
    color: var(--yellow);
}

.header_banner_text {
    margin-top: 133px;
    margin-bottom: 23px;
    padding: 25px 5px;
    border-right: 3px solid var(--yellow);
    border-left: 3px solid var(--yellow);
}

.borders_left_top, .borders_right_top, .borders_left_bottom, .borders_right_bottom {
    border-top: 3px solid var(--yellow);
}

.borders_left_top, .borders_left_bottom {
    right: 96.8%;
    left: 0;
}

.borders_right_top, .borders_right_bottom {
    left: 96.8%;
    right: 0;
}

.borders_left_top, .borders_right_top {
    top: 0;
}

.borders_left_bottom, .borders_right_bottom {
    bottom: 0;
}

.header_banner_text h1 {
    line-height: 19px;
}

/* symptoms section */

.symptoms {
    margin-bottom: 128px;
}

.symptoms h2 {
    max-width: 360px;
    margin: 0 auto 23px;
    line-height: 21px;
}

.symptoms .swiper-slide>div {
    max-height: 410px;
    min-height: 410px;
}

.symptoms .swiper-slide>div {
    box-sizing: border-box;
    padding: 23px 10px 10px;
}

.symptoms .swiper-slide img {
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -9;
}

.symptoms .swiper-slide h3 {
    margin-bottom: 30px;
}

.symptoms .swiper-slide>div>div {
    max-height: 313px;
    min-height: 313px;
    overflow: hidden;
}

.symptoms .swiper-slide p {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 13px;
}

.symptoms .swiper-slide p span {
    font-weight: bold;
}

/* experts section */

.experts .swiper-slide {
    background: #241832;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.2);
}

.experts .swiper-slide>div {
    padding-bottom: 35px;
}

.experts .swiper-slide article {
    padding: 25px 15px 0;
    max-height: 268px;
    min-height: 268px;
    overflow: hidden;
}

.experts h4 {
    margin-top: unset;
    margin-bottom: 35px;
}

.experts p {
    line-height: 16px;
}

.experts h5 {
    margin-top: 132px;
    line-height: 15px;
}

.experts {
    margin-bottom: 105px;
}

/* individual section */

.individual h5 {
    margin-bottom: 100px;
}

/* comments section */

.comments {
    padding-bottom: 143px;
}

.comments h2 {
    margin-bottom: 36px;
}

.comments img {
    max-height: 410px;
    min-height: 410px;
    object-fit: contain;
}


.canvas {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(21, 30, 53, 0.5);
    z-index: 99;
}

@media (min-width: 576px) {
    .section, .header_nav_menu ul {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .section, .header_nav_menu ul {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .header_mob {
        display: none;
    }
    .section {
        max-width: 960px;
    }
    .header_nav_menu {
        position: unset;
        margin-bottom: 42px;
        padding-top: unset;
    }
    .header_nav_menu ul {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 25px;
    }
    .header_nav_menu li:not(:nth-of-type(1)) a {
        border-top: unset;
    }
    .header_nav_menu a {
        padding-top: 25px;
        padding-bottom: 18px;
        text-indent: unset;
        margin-bottom: 23px;
        border-bottom: 2px solid transparent;
    }
    .header_nav_menu a:hover {
        border-bottom-color: var(--yellow);
    }
    .header_banner_text {
        margin-top: 15px;
        margin-bottom: 58px;
        padding: 17px 34px 10px;
    }
    .borders_left_top, .borders_left_bottom {
        right: 96.7%;
    }
    .borders_right_top, .borders_right_bottom {
        left: 96.7%;
    }
    .header_banner_text h1 {
        font-size: 23px;
        line-height: 27px;
        letter-spacing: -1px;
    }
    .symptoms {
        margin-bottom: 190px;
    }
    .symptoms h2 {
        max-width: 600px;
        margin-bottom: 137px;
        font-size: 28px;
        line-height: 34px;
    }
    .symptoms .swiper-slide>div {
        max-height: 295px;
        min-height: 295px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 43px 25px 43px 85px;
    }
    .symptoms .swiper-slide h3 {
        margin-right: 60px;
        margin-bottom: unset;
    }
    .symptoms .swiper-slide>div>div {
        max-height: 210px;
        min-height: 210px;
    }
    .experts .swiper-slide article {
        max-height: 172px;
        min-height: 172px;
    }
    .experts h5 {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
        line-height: 21px;
    }
    .individual h2 {
        margin-bottom: 60px;
    }

    .individual h5 {
        max-width: 920px;
        margin: 0 auto 133px;
        font-size: 20px;
        line-height: 24px;
    }

    .comments h2 {
        margin-bottom: 90px;
    }

    .comments .swiper-slide {
        transition: margin-top .2s;
    }

    .comments .swiper-slide-next {
        margin-top: -75px;
    }

    .comments img {
        max-height: 610px;
        min-height: 610px;
    }

    .comments .swiper-pagination {
        display: block;
    }
    
}

@media (min-width: 1200px) {
    .section {
        max-width: 1110px;
    }
}